html {
  --uno: scheme-light select-none overscroll-none antialiased;

  &.dark {
    --uno: scheme-dark;
  }

  body {
    --uno: text-3.5 text-text;

    img {
      -webkit-user-drag: none;
    }

    * {
      outline: none !important;
    }
  }
}
