html {
  --uno: scheme-light select-none overscroll-none antialiased;

  &.dark {
    --uno: scheme-dark;
  }

  body {
    --uno: text-sm text-ant-text;

    img {
      -webkit-user-drag: none;
    }

    * {
      outline: none !important;
    }
  }
}

.os-scrollbar-handle {
  --os-handle-bg: var(--ant-color-text-quaternary);
  --os-handle-bg-hover: var(--ant-color-text-tertiary);
  --os-handle-bg-active: var(--ant-color-text-secondary);
}
