html {
  --uno: text-color-1 text-14 antialiased select-none overscroll-none;

  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

img {
  -webkit-user-drag: none;
}

a {
  --uno: "hover:color-primary";
}
