html {
  --color-bg-1: var(--ant-color-bg-container);
  --color-bg-2: var(--ant-color-bg-layout);
  --color-bg-3: var(--ant-color-fill-quaternary);
  --color-text-1: var(--ant-color-text);
  --color-text-2: var(--ant-color-text-secondary);
  --color-text-3: var(--ant-color-text-tertiary);
  --color-border-1: var(--ant-color-border);
  --color-border-2: var(--ant-color-border-secondary);

  --uno: color-1 text-14 antialiased break-all;

  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

img {
  --uno: select-none;
  -webkit-user-drag: none;
}

.antd-input {
  --uno: "b hover:b-primary-5 transition outline-none focus:(b-primary shadow-[0_0_0_2px_rgba(5,145,255,0.1)] dark:shadow-[0_0_0_2px_rgba(0,60,180,0.15)])";
}
