.modal {
  a {
    --uno: "text-primary-5 hover:text-primary active:text-primary-7";
  }

  .markdown {
    *:not(a) {
      all: revert;
    }

    mark {
      --uno: "rounded-2 bg-[#ffef87] px-2";
    }
  }
}
